body
{
    background-color: #000000;
    color: #b12bda;
    font-weight: bold;
    font-size:larger;
    text-align: center;
}

.table_description
{
    text-align: left;
}

a
{
    color: #b12bda;
}

a:hover
{
    color: #ff12bc;
}