body
{
    background-color: rgb(26, 0, 31);
    color: rgb(180, 40, 220);
    font-weight: bold;
    font-size:larger;
    text-align: center;
}

pre
{
    background-color: rgb(37, 0, 80);
    text-align: left;
    font-weight: lighter;
    font-size: medium;
}

jsstr
{
    color: #6dbff9;
}
jsvar
{
    color: #eef200;
}
jscm
{
    color: #3c6500;
}

.table_description
{
    text-align: left;
}

a
{
    color: #b12bda;
}

a:hover
{
    color: #ff12bc;
}

table
{
    margin: 0 auto;
}

table th, table td
{
    padding: 5px 10px;
}